* {
  font-family: "Quicksand", serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background-color: transparent;
}
.main-display {
  width: 1160px;
  margin: 0 auto;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 11px;
}
.nav-main {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  align-items: center;
  gap: 32px;
}
.nav-home {
  font-weight: bold;
  font-size: 32px;
  line-height: 30px;
  color: #fea301;
}
.nav-about {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #01acfd;
}
.nav-fac {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #05d4df;
}
.nav-ad {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #5d58ef;
}
.nav-contact {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  background-color: #fea301;
  padding: 10px 60.5px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

/* Banner part start */

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text {
  width: 640px;
}
.banner-title {
  font-weight: bold;
  font-size: 56px;
  line-height: 61px;
  padding-right: 80px;
}
.ban-emp {
  color: #fea301;
}
.ban-to {
  color: #01acfd;
}
.banner-description {
  font-weight: 400;
  font-size: 20px;
  color: #111111;
}
.banner-btn {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding: 10px 47px;
  margin-top: 24px;
  background: #111111;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
